* {
    font-family: 'Courier New', Courier, monospace;
}

html {
    min-height: 100%;
}

body {
    margin: 0;
    min-height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    color: darkcyan;
    background-image: linear-gradient(45deg, rgb(119, 195, 175), rgb(39, 232, 138));
}

.weightConverter {
    background-color: rgb(207, 240, 207);
    padding: 25px 75px;
    border-radius: 10px;
}